body{
    background-image: url("SlivUAZModel-Z.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}
.block{
    width: 200px;
    height: 50px;
  /*  padding: 20px;*/
}
.pen{
    background-color:rgb(212, 212, 212);
}
.er{
    background-color:blue;
}
.neg{
    background-color:crimson;
}
.Russia{
    color: black;
}